@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

body {
   font-family: 'Roboto', sans-serif;
}
p, li, a {
   font-family: 'Roboto', sans-serif;
}
h1, h2, h2, h4, h5, h6 {
   font-family: 'Inter', sans-serif;
}