/* SCSS HEX */
$night: #0b090aff;
$eerie-black: #161a1dff;
$poulton-red: #fd0300;
$cornell-red: #a4161aff;
$cornell-red-2: #ba181bff;
$imperial-red: #e5383bff;
$silver: #b1a7a6ff;
$timberwolf: #d3d3d3ff;
$white-smoke: #f5f3f4ff;
$white: #ffffffff;